.slat
  margin-bottom: spacing-block-large
  padding-bottom: spacing-block-large
  border-bottom: 1px solid light-gray
  
  &:last-child
    margin: 0
    padding: 0
    border: none

.slat-content
  float: left
  width: 40%
  padding-right: spacing-block * 2
  
.slat-media
  width: 60%
  float: right
  
  img
    margin: 0
  
.slat-alt
  .slat-content
    padding-right: 0
    padding-left: spacing-block * 2
  
  .slat-media
    float: left
