.boulder
  .hero
    background-image: url('https://mojotech-static.s3.amazonaws.com/m4/locations/boulder-hero.jpg')

.new-york
  .hero
    background-image: url('https://mojotech-static.s3.amazonaws.com/m4/locations/new-york-hero.jpg')

.providence
  .hero
    background-image: url('https://mojotech-static.s3.amazonaws.com/m4/locations/providence-hero.jpg')

.washington-dc
  .hero
    background-image: url('https://mojotech-static.s3.amazonaws.com/m4/locations/washington-dc-hero.jpg')
