.hero
  box-shadow: 0 1px 0 light-gray
  padding-bottom: spacing-block-large
  color: #fff
  background-color: #283947
  background-image: radial-gradient(lighten(#283947, 20%), #1c1e39)

  .intro-media
    width: 800px
