@import _work-item-list
@import _work-items-secondary

.work-index
  @import _hero

  .content
    padding: 0

.dribbble-intro
  text-align: center
  padding-top: spacing-block * 2
  border-top: 1px solid light-gray

  .small-headline
    color: darken(light-gray, 15%)

.dribbble-feed
  margin-top: spacing-block * 2

  a
    border: none

  .browser
    max-width: 80%
