.hero
  background-image: url('https://mojotech-static.s3.amazonaws.com/m4/jobs/jobs-hero.jpg')
  background-color: light-gray
  background-position: bottom

  @media(max-width: small-screen)
    background-image: url('https://mojotech-static.s3.amazonaws.com/m4/jobs/jobs-hero-small.jpg')
