@font-face
  font-family: 'MetaSerifOT-Book'
  src: url('https://mojotech-static.s3.amazonaws.com/m4/fonts/meta-serif/metaserifot-book.eot')
  src: url('https://mojotech-static.s3.amazonaws.com/m4/fonts/meta-serif/metaserifot-book.woff') format('woff'),
       url('https://mojotech-static.s3.amazonaws.com/m4/fonts/meta-serif/metaserifot-book.ttf') format('truetype'),
       url('https://mojotech-static.s3.amazonaws.com/m4/fonts/meta-serif/metaserifot-book.svg') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'AltisMedium'
  src: url('https://mojotech-static.s3.amazonaws.com/m4/fonts/altis/altis-medium-webfont.eot')
  src: url('https://mojotech-static.s3.amazonaws.com/m4/fonts/altis/altis-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://mojotech-static.s3.amazonaws.com/m4/fonts/altis/altis-medium-webfont.woff2') format('woff2'),
       url('https://mojotech-static.s3.amazonaws.com/m4/fonts/altis/altis-medium-webfont.woff') format('woff'),
       url('https://mojotech-static.s3.amazonaws.com/m4/fonts/altis/altis-medium-webfont.ttf') format('truetype'),
       url('https://mojotech-static.s3.amazonaws.com/m4/fonts/altis/altis-medium-webfont.svg#altismedium') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'FeltTip'
  src: url('https://mojotech-static.s3.amazonaws.com/m4/fonts/felt-tip/Felt-Tip-Roman-webfont.eot')
  src: url('https://mojotech-static.s3.amazonaws.com/m4/fonts/felt-tip/Felt-Tip-Roman-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://mojotech-static.s3.amazonaws.com/m4/fonts/felt-tip/Felt-Tip-Roman-webfont.woff2') format('woff2'),
       url('https://mojotech-static.s3.amazonaws.com/m4/fonts/felt-tip/Felt-Tip-Roman-webfont.woff') format('woff'),
       url('https://mojotech-static.s3.amazonaws.com/m4/fonts/felt-tip/Felt-Tip-Roman-webfont.ttf') format('truetype'),
       url('https://mojotech-static.s3.amazonaws.com/m4/fonts/felt-tip/Felt-Tip-Roman-webfont.svg') format('svg')
  font-weight: normal
  font-style: normal
