.footer
  margin-top: spacing-block-large
  padding-top: spacing-block
  padding-bottom: spacing-block
  font-size: 14px
  overflow: hidden
  text-align: center

  @media(max-width: small-screen)
    margin-top: spacing-block * 2
    padding-bottom: spacing-block

  .copyright
    padding-right: spacing-block-small
    display: inline-block

    @media(max-width: med-screen-landscape)
      float: none
      border-right: none

  .footer-content
    display: block

    @media(max-width: small-screen)
      display: block
      margin-left: 0
