body.shots
  background: #000

.shots-wrap
  overflow: hidden
  position: relative
  top: 240px
  width: 100%

  a
    float: left
    display: block
    width: 33.33%
    border-bottom: 0 solid transparent

  img
    margin: 0
