.contact-thanks
  background: mojo-green
  height: 100%

  .body-content
    max-width: 100%
    min-height: 100%
    background: mojo-green
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: flex-start
    align-content: stretch
    align-items: flex-start

.thanks
  transition: none

.thanks-content
  order: 0
  flex: 1 1 auto
  align-self: stretch
  padding-bottom: 100px
  
  *
    color: #fff

  .button
    margin-top: spacing-block * 2

.thanks-next-up
  order: 0
  flex: 0 1 auto
  align-self: stretch
  border-top: 1px solid darken(mojo-green, 20%)

.form-container
  height: 175px
  margin-bottom: spacing-block * 2

.submit
  height: 70px

.submit-status
  margin-bottom: spacing-block

.loader-container
  height: 100px
  display: none

.pong-loader
  margin: spacing-block * 2 0 spacing-block
