.featured-work-item
  padding: spacing-block * 2 0
  border-bottom: 1px solid light-gray
  background: #fff
  
  @media (max-width: small-screen)
    text-align: center
    padding: spacing-block 0

  .work-item-info
    position: relative
    max-width: 600px

    .work-desc
      margin-right: 200px
      margin-bottom: 0

      @media(max-width: small-screen)
        margin: 0

  .work-title
    margin: 0 200px 0 0

    @media(max-width: small-screen)
      margin: 0

  .button
    position: absolute
    top: 50%
    right: 0
    margin-top: -(spacing-block)

    @media (max-width: small-screen)
      position: relative
      top: auto
      right: auto
      margin-top: spacing-block-small

.work-title
  margin: 0 0 spacing-block-small 0
  color: darken(med-gray, 40%)
  
.work-desc
  margin: 0
