.hero
  background-image: url('https://mojotech-static.s3.amazonaws.com/m4/video/broll/mojo-hero-ff.jpg')
  padding-bottom: 80px
  @media(max-width: small-screen)
    video
      display: none

    background-image: url('https://mojotech-static.s3.amazonaws.com/m4/home-hero-small.jpg')
    background-color: #090636
