.message-404
  background-color: #000000
  background-image: url('https://mojotech-static.s3.amazonaws.com/m4/404/winston-404.gif')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  
  .page-contents
    height: 100%
    
  .message
    position: relative
    top: 50%
    transform: translateY(-50%)
    z-index: 15

.error-headline
  max-width: center-col-width
  margin: 0 auto
  color: #fff

.error-headline a
  color: #e3e3e3
  border-bottom: 1px solid #e3e3e3
