.hero
  background-image: url('https://mojotech-static.s3.amazonaws.com/m4/welcome/mojo-hero-union-station.jpg')
  background-position: bottom

  a
    color: darken(med-gray, 20%)
    border-color: darken(med-gray, 20%)
  
.hero-headline,
.hero-subhead
  color: darken(med-gray, 20%)

.hero-subhead
  padding-top: 180px

  @media(max-width: small-screen)
    padding-top: 130px
    padding-bottom: spacing-block * 3
