.hero
  background-image: url('https://mojotech-static.s3.amazonaws.com/m4/approach/work-together.jpg')
  background-position: bottom center
  background-color: light-gray
  color: #fff

  @media(max-width: small-screen)
    padding-bottom: spacing-block-large

  img
    width: 740px
    max-width: 100%
    height: auto

  .hero-label
    background-image: url('https://mojotech-static.s3.amazonaws.com/m4/approach/evolution.png')
    background-size: 36px 23px
    background-repeat: no-repeat
    background-position: top center
    padding-top: spacing-block
    color: lighten(med-gray, 40%)
