.key-components
  p
    margin-bottom: 0

  .caption
    margin-bottom: spacing-block * 3

    @media(max-width: small-screen)
      margin-bottom: spacing-block * 2

video
  background: white
  @media(max-width: small-screen)
    display: none

.video-fallback
  display: none
  margin: 0 auto

  @media(max-width: small-screen)
    display: block
