.approach
  @import _hero
  @import _how-we-work
  @import _our-strengths
  .content
    padding-bottom: 0
    background-color: #fffeff
    @media(max-width: small-screen)
      background-color: white
  .next-up
    background-image: url('https://mojotech-static.s3.amazonaws.com/m4/video/groove/groove-ff.jpg')
